<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ビンゴゲーム</title>
  <link rel="stylesheet" href="./css/bingo.min.css">
  <script src="js/vue.js"></script>
  <script src="js/odometer.js"></script>
</head>
<body>
<div id="app">
  <div class="controller">
    <div class="controller-item">
      <button v-on:click="nextNum" class="btn-add">+</button>
    </div>
    <div class="controller-item">
      <ol id="previously-items" class="previously-items">
        <li v-for="num in nums" :class="['previously-item--' + num.section]"><span id="sectionItem" class="previously-item-section"></span><span id="odometer" class="odometer">{{ num.text }}</span></li>
      </ol>
    </div>
  </div>

  <div class="section__group">
    <section v-for="(section,index) in sections" class="section" :class="['section--' + section]">
      <h1 class="section-title">{{section}}</h1>
      <div class="numbers__group">
        <ul class="numbers" :class="['index--' + index]">
          <li v-for="item in items" v-if="index*15 <= item.text-1 && item.text < (index + 1 )*15+1" v-bind:class="{ active: item.selected }">{{item.text}}</li>
        </ul>
      </div>
    </section>
  </div>
</div>
<script>

  var items = [];
   for (var i = 1; i < 76; i++){
     items.push({text:i,selected:false});
   }

  //Fisher-Yates Algorithm きちんとシャッフルしてくれるらしい
  //Arrayにshuffleメソッドをprototypeプロパティを使って追加
  Array.prototype.shuffle = function() {
  var i = this.length;
    while (i) {
      var j = Math.floor(Math.random()*i);
      var t = this[--i];
      this[i] = this[j];
      this[j] = t;
    }
  };

  //Fisher-Yates End
  //1~75の番号の配列
  var allNums = [];
  for(i=1;i<76;i++){
      allNums.push(i);
  }
  allNums.shuffle();

  var count=1;

  var app = new Vue({
    el: '#app',
    data: {
      items: items,
      nums:['0'],
      sections: ['B','I','N','G','O']
    },
    methods: {
      nextNum: function () {
         var selectedNums = allNums.indexOf(count)+1;
         count++;

         if(count>76){
             alert('Game is Done!');
              return false;
          }

          odometer.innerHTML = selectedNums;

          if(selectedNums < 15) {
          var sectionGroup = 'B'; 
          } else if (selectedNums < 30) {
            var sectionGroup = 'I'; 
          } else if (selectedNums < 45) {
            var sectionGroup = 'N'; 
          } else if (selectedNums < 60) {
            var sectionGroup = 'G'; 
          } else if (selectedNums < 76) {
            var sectionGroup = 'O'; 
          }

          sectionItem.innerHTML = sectionGroup;
          
          setTimeout(function(){
            app.nums.push({ text:selectedNums, selected:true, section: sectionGroup});
            app.items[selectedNums-1].selected = true;

            app.nums.shift();
          }, 1300);
      }
    }
  })
</script>
</body>
</html>