<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ビンゴゲーム</title>
  <link rel="stylesheet" href="./css/bingo.min.css">
  <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
  <ol class="priviously-items">
    <li v-for="num in nums">{{ num.text }}</li>
  </ol>
  <button v-on:click="nextNum">Next Num</button>

  <div class="section__group">
    <section class="section section--b">
      <h1 class="section-title">B</h1>
      <div class="numbers__group">
        <ul class="numbers">
          <li v-for="item in items" v-bind:class="{ active: item.selected }">{{item.text}}</li>
        </ul>
      </div>
    </section>
  </div>
</div>
<script>

var items = [];
for (var i = 1; i < 76; i++){
  // items.push({text:i,selected:false});
  items.push(i);
}

function random(array, num) {
  var a = array;
  var t = [];
  var r = [];
  var l = a.length;
  var n = num < l ? num : l; // numよりもlが大きかったらnumを、逆ならlをnに代入する
  while (n-- > 0) { // あと置きは先に1つ引く
    var i = Math.random() * l | 0;
    r[n] = t[i] || a[i];
    --l;// 先置きはあとに1つ引く
    t[i] = t[l] || a[l];
  }
  return r;
}

var randomArray = random(items,75);
console.log(randomArray);
var result = [];
for (var i =0; i < randomArray.length-1; i++) {
  result.push({text:randomArray[i],selected:false});
}
console.log(result);

  var app = new Vue({
    el: '#app',
    data: {
      items: items,
      nums:[]
    },
    methods: {
      nextNum: function () {
        //  var random  = 1 + Math.floor(Math.random() * 75);
        //     app.items[random-1].selected = true;
        //     app.nums.push({ text:random });
      
      }
    }
  })
</script>
</body>
</html>