.controller {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.controller-item {
    display: flex;
    justify-content: center;
    align-items: center;
}