.previously-items {
  display: flex;
  list-style: none;
  height: 2.5em;
  margin: 20px 0;
  padding: 0;
  font-size: calc(2em + 6vw);
  overflow: auto;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.previously-item-section {
  margin: 0 10px 0 0;
  width: 1em;
  text-align: center;
}

.previously-items {

}

.previously-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  margin: 0 5px;
  color: #FFF;
  font-size: 1em;
  text-align: center;
  border-radius: 50%;
  transition: background-color .2s;
}

.previously-item--undefined {
  background: #CCC;
}

.previously-item--B {
  background: $color-B;
}

.previously-item--I {
  background: $color-I;
}

.previously-item--N {
  background: $color-N;
}

.previously-item--G {
  background: $color-G;
}

.previously-item--O {
  background: $color-O;
}