.previously-items {
  display: flex;
  list-style: none;
  height: 2em;
  margin: 20px 0;
  padding: 0;
  color: #FFF;
  font-size: calc(2em + 6vw);
  // background: #EEE;
  overflow: auto;
  
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    margin: 0 5px;
    font-size: 1em;
    text-align: center;
    border-radius: 50%;
    transition: background-color .2s;
  }
}

.previously-item--undefined {
  background: #CCC;
}

.previously-item--B {
  background: $color-B;
}

.previously-item--I {
  background: $color-I;
}

.previously-item--N {
  background: $color-N;
}

.previously-item--G {
  background: $color-G;
}

.previously-item--O {
  background: $color-O;
}