.section__group {
  display: flex;
}
.section {
  flex: 5 0 0;
  margin: 0 2px;
  padding: 5px 5px 0 5px;
  border-radius: 5px;
}
.section-title {
  margin: 0;
  padding: 5px 0 10px;
  color: #FFF;
  font-size: calc(.5em + 1vw);
  text-align: center;
  line-height: 1;
}

.section--B {
  background: $color-B;
}
.section--I {
  background: $color-I;
}
.section--N {
  background: $color-N;
}
.section--G {
  background: $color-G;
}
.section--O {
  background: $color-O;
}