.section__group {
  display: flex;
}
.section {
  flex: 5 0 0;
  margin: 0 5px;
  padding: 5px;
}
.section-title {
  margin: 0;
  font-size: calc(1em + 1vw);
  text-align: center;
}

.section--B {
  background: #7fcdff;
}
.section--I {
  background: #ffa95a;
}
.section--N {
  background: #35e436;
}
.section--G {
  background: #ff7979;
}
.section--O {
  background: #df93f5;
}